<!-- Hire me section -->
<section class="section">
  <!-- Download my resume -->
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="title">
          Need a PDF of my resume?
        </div>
      </div>
      <div class="column">
        <div class="title">
          <button class="button is-rounded">
            <a
              src="https://drive.google.com/file/d/1q6_AFOGOQ8VC4AtmkgDsHTreIN2t3eXn/view?usp=sharing"
              >Download my resume!</a
            >
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Hire me contact linking -->
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title">Want to hire me?</h1>
      </div>
      <div class="column">
        <button class="button is-rounded" routerLink="/contact-me">
          Contact me!
        </button>
      </div>
    </div>
  </div>
  <!-- TODO: Use javascript to pull from .ts file w/ experience -->
  <!-- List of skills -->
  <div class="container">
    <div class="title">
      Skills
    </div>
    <div class="columns">
      <div class="column">
        <ol class="Language-list">
          <li class="list-item">Java</li>
          <li class="list-item">HTML</li>
          <li class="list-item">Javascript</li>
          <li class="list-item">Python</li>
          <li class="list-item">CSS</li>
        </ol>
      </div>
      <div class="column">
        <ul class="experience-list">
          <li class="list-item">4 years</li>
          <li class="list-item">1 year</li>
          <li class="list-item">1 year</li>
          <li class="list-item">2 years</li>
          <li class="list-item">1 year</li>
        </ul>
      </div>
    </div>
  </div>
</section>
