<!-- Header (navbar)-->
<div class="navbar">
  <div class="navbar-start">
    <a class="navbar-item" routerLink="/homePage">
      <!-- Logo goes here! -->
      <img src="src/assets/images/angular-logo.png" alt="(Home logo)" />
    </a>
    <a class="navbar-item" routerLink="/contactMe">Contact Me</a>
    <a class="navbar-item" routerLink="/Projects">Projects</a>
    <!-- Navigation "burger" (list of extra pages) -->
    <div
      class="navbar-burger burger"
      data-target="navbarExampleTransparentExample"
    >
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
