<!-- Fetch font-awesome icons -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<!-- Footer -->
<footer class="footer">
  <div class="container content has-text-centered">
    <p>Made by Nick w/ Angular and BulmaCss</p>
    <a href="https://github.com/Zyjinn" class="fa fa-github"></a>
    <a href="https://twitter.com/NickBourgeoisie" class="fa fa-twitter"></a>
    <a
      href="https://www.linkedin.com/in/nicholas-bourgeois-53b627180/"
      class="fa fa-linkedin"
    ></a>
    <a
      href="https://www.facebook.com/nicholas.bourgeois.7"
      class="fa fa-facebook"
    ></a>
    <a href="https://www.instagram.com/silentnick/" class="fa fa-instagram"></a>
  </div>
</footer>
