<!-- Fetch font-awesome icons -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<!-- Footer -->
<footer class="footer">
  <div class="content has-text-centered">
    <!-- Footer Text and creds -->
    <p>
      Created by Nicholas Bourgeois with <Strong>Angular</Strong> and
      <Strong>Bulma</Strong>
    </p>

    <!-- Github Icon -->
    <a href="https://github.com/Zyjinn" class="fa fa-github"></a>

    <!-- Twitter Icon -->
    <a href="https://twitter.com/NickBourgeoisie" class="fa fa-twitter"></a>

    <!-- Linkedin Icon -->
    <a
      href="https://www.linkedin.com/in/nicholas-bourgeois-53b627180/"
      class="fa fa-linkedin"
    ></a>

    <!-- Facebook button -->
    <a
      href="https://www.facebook.com/nicholas.bourgeois.7"
      class="fa fa-facebook"
    ></a>
    <!-- Instagram Button -->
    <a href="https://www.instagram.com/silentnick/" class="fa fa-instagram"></a>
    <br />

    <!-- Donation Button -->
    <a
      class="button is-link"
      href="https://www.paypal.com/paypalme/NickBourgeoisie"
    >
      <span class="icon-text is-small">
        <i class="fa fa-coffee"></i>
      </span>
      <span class=""> Buy me a Tea!</span></a
    >
  </div>
</footer>
