<!-- Fetch font-awesome icons -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<!-- TItle and link to github -->
<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">My Projects</h1>
    </div>
  </div>
</section>

<!-- ! List of Projects  -->
<div class="tile is-ancestor container pt-6 pb-6">
  <div *ngFor="let project of projects" class="tile is-parent">
    <article class="tile notification is-child box is-warning">
      <!-- Project title -->
      <p class="title notification is-primary is-bold">{{ project.name }}</p>
      <div class="subtitle">
        <!-- Button for link to project -->
        <div class="container pb-6">
          <a class="button is-transparent" href="{{ project.url }}">
            <span class="icon">
              <i class="fa fa-github"></i>
            </span>
            <span>{{ project.name }} on Github</span></a
          >
        </div>
      </div>
    </article>
  </div>
</div>
