<!-- Fetch font-awesome icons -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="container">
  <div class="columns">
    <div class="column">
      <div class="title">More available on my github!</div>
    </div>
    <div class="column">
      <a href="https://github.com/Zyjinn" class="fa fa-github"></a>
    </div>
  </div>
  <!-- List of my bigger projects -->
  <!-- TODO: make list of mock projects to link to -->
  <div class="title">My Projects</div>
  <!-- Loop through projects list -->
  <div *ngFor="let project of projects">
    <div class="subtitle">{{ project.name }}</div>
  </div>
</div>
