<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Contact Me!</h1>
    </div>
  </div>
</section>

<!-- Contact form -->
<section class="section">
  <div class="container">
    <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
      <!-- Insert email -->
      <div class="field">
        <label for="Email" class="label is-rounded">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input
            type="email"
            class="input is-rounded"
            name="Email"
            aria-describedby="emailHelp"
            placeholder="Example@gmail.com"
            formControlName="Email"
          />
          <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
        </div>
      </div>

      <!-- Insert Name -->
      <div class="field">
        <label for="fullname" class="label is-rounded">Full Name</label>
        <div class="control has-icons-left has-icons-right">
          <input
            type="text"
            class="form-control input is-rounded"
            name="Fullname"
            placeholder="Jake, Statefarm"
            formControlName="Fullname"
          />
          <span class="icon is-small is-left">
            <i class="fa fa-user"></i>
          </span>
        </div>
      </div>

      <!-- Insert message -->
      <div class="field">
        <label for="Comment" class="label is-rounded">Message</label>
        <textarea
          class="textarea"
          placeholder="Enter a message to send!"
          formControlName="Comment"
          name="Comment"
        >
        </textarea>
      </div>
      <button type="submit" class="button is-warning is-rounded mt-3">
        Submit!
      </button>
    </form>
  </div>
</section>
