<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Contact Me!</h1>
    </div>
  </div>
</section>

<!-- Contact form -->
<section class="section">
  <div class="container">
    <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
      <!-- Insert email -->
      <div class="form-group">
        <label for="Email" class="label is-rounded">Email</label>
        <input
          type="email"
          class="form-control input is-rounded"
          name="Email"
          aria-describedby="emailHelp"
          placeholder="Enter your email!"
          formControlName="Email"
        />
        <small id="emailHelp" class="form-text text-muted"
          >Your email won't be shared with anyone else!</small
        >
      </div>
      <!-- Insert Name -->
      <div class="form-group">
        <label for="fullname">Full Name</label>
        <input
          type="text"
          class="form-control"
          name="Fullname"
          placeholder="Enter your full name"
          formControlName="Fullname"
        />
      </div>

      <!-- Insert message -->
      <div class="form-group">
        <label for="message">Message</label>
        <textarea class="form-control" formControlName="Message" name="Message">
        </textarea>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!FormData.valid"
      >
        Submit!
      </button>
    </form>
  </div>
</section>
