<!-- Header (navbar)-->
<div class="navbar">
  <div class="navbar-start">
    <!-- Goto homepage -->
    <a class="navbar-item" routerLink="/homePage">
      <!-- Logo goes here! -->
      <img src="assets/Website_logo.jpg" alt="" />
    </a>

    <!-- Goto contact page -->
    <a class="navbar-item" routerLink="/contactMe">Contact Me</a>

    <!-- Goto Hire-me -->
    <a class="navbar-item" routerLink="/hireMe">Hire Me!</a>

    <!-- Goto Projects page -->
    <a class="navbar-item" routerLink="/Projects">Projects</a>

    <!-- Navigation "burger" (list of extra pages) -->
    <div
      class="navbar-burger burger"
      data-target="navbarExampleTransparentExample"
    >
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
