.hero {
  background-image: url("src\assets\Using_Laptop.jpeg") !important;
  background-size: cover;
  background-position: bottom;
  background-color: darkgreen;
}
.card-image {
  width: fit-content;
  height: fit-content;
  position: relative;
}
