.hero {
  background-image: url("src\assets\BigPlant_Laptop.jpg") !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70% 35%;
  background-color: darkgreen;
}
.card-image {
  width: fit-content;
  height: fit-content;
  position: relative;
}
.ui-button-text {
  text-decoration: none;
}
background-color: $primary;
