<!-- Hero primary title from bulma -->
<section class="hero is-primary is-bold">
  <!-- Hero Body -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Nicholas Bourgeois
      </h1>
      <h2 class="subtitle">
        Computer Programmer
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="message is-primary is-large">
    <p class="body">
      Hello, I am Nicholas Bourgeois, a computer programmer or something like
      that
    </p>
  </div>
</section>
