<!-- Hero section to create background for homepage-->
<section class="hero is-primary is-bold is-large">
  <div class="hero-body">
    <!-- Homepage Main hero -->
    <div class="container has-text-centered">
      <!-- Title -->
      <h1 class="title notification is-primary">Nicholas Bourgeois</h1>
      <!-- Subtitle -->
      <h2 class="subtitle notification is-info">
        Software Developer and Web Developer
      </h2>
    </div>
  </div>
</section>

<!-- About me text -->
<div class="tile is-ancestor is-primary">
  <div class="tile is-vertical is-6">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <!-- Title tile -->
        <article class="tile is-child message is-large notification is-primary">
          <!-- About me -->
          <p class="message-header">Hey there, I'm Nick!</p>
          <div class="message-body">
            <p><strong></strong></p>
            <p>
              I recently graduated from the University of Louisiana at
              Lafayette, and I am currently working as an Associate Technical
              Consultant at Perficient in Louisiana!
            </p>
            <br />
            <p>
              In my free time I enjoy drinking tea, playing the Trumpet or
              Piano, and the color green, as well as reading, running, dogs, and
              various other things!
            </p>
            <br />
            <p>
              I believe in the passionate pursuit of everything that I do! Also,
              I'm just deeply curious and looking t1o learn, well, more or less
              everything!
            </p>
          </div>

          <!-- Want to hire me? -->
          <p class="message-header">Want me to do something?</p>
          <div class="message-body">
            <p>
              I am currently employed! But if you want to contact me for
              something specific, send me a message!
            </p>
          </div>
          <!-- Contact, hire and projects button links -->
          <!-- Contact Me button -->
          <div class="field is-grouped">
            <div class="container">
              <a
                class="button is-rounded is-primary"
                [routerLink]="['/contactMe']"
              >
                <span class="icon"> <i class="fa fa-address-book"></i> </span>
                <span>Get in Touch With Me!</span></a
              >
            </div>
            <!-- Hire me button -->
            <div class="container">
              <a
                class="button is-rounded is-warning"
                [routerLink]="['/contactMe']"
              >
                <span class="icon"> <i class="fa fa-suitcase"></i> </span>
                <span>My Skills and Resume</span></a
              >
            </div>
            <!-- Projects button -->
            <div class="container">
              <a
                class="button is-rounded is-link"
                [routerLink]="['/contactMe']"
              >
                <span class="icon"> <i class="fa fa-code-fork"></i> </span>
                <span>Some Recent Projects!</span></a
              >
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>

  <!-- IMAGE TILE -->
  <div class="tile is-parent is-primary">
    <article class="tile is-child notification is-primary is-10">
      <div class="content is-primary">
        <figure class="image">
          <img src="assets/Professional_Headshot.jpg" alt="My Face" />
        </figure>
      </div>
    </article>
  </div>
</div>
