<!-- Hero section to create background for homepage-->
<section class="hero is-success is-bold is-fullheight-with-navbar">
  <div class="hero-body">
    <!-- Homepage Main hero -->
    <div class="container has-text-centered">
      <!-- Title -->
      <h1 class="title">Nicholas Bourgeois</h1>
      <!-- Subtitle -->
      <h2 class="subtitle">Software Developer</h2>
    </div>
  </div>
</section>

<!-- About me text -->
<div class="tile is-ancestor">
  <div class="tile is-vertical is-6">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <!-- Title tile -->
        <article
          class="tile is-child message is-large notification is-dark is-success"
        >
          <div class="title message-header">
            <p>Nicholas Bourgeois</p>

            <p class="subtitle">Software Developer/Web Developer</p>
          </div>

          <!-- About me -->
          <p class="message-header">Hey! I'm Nicholas Bourgeois!</p>
          <div class="message-body">
            <p><strong></strong></p>
            <p>I'm a graduating Computer Science in Louisiana</p>
            <p>
              I like playing music(Piano and Trumpet), dogs, the color green,
              tea, the program Notion and oh, coding!
            </p>
          </div>

          <!-- Want to hire me? -->
          <p class="message-header">Want to hire me?</p>
          <div class="message-body">
            <p>
              I am currently looking for software development or web development
              jobs!
            </p>
          </div>
          <!-- Contact, hire and projects button links -->
          <div class="buttons">
            <!-- Contact form button -->
            <button class="button is-rounded is-primary">
              <a [routerLink]="['/contactMe']">Contact Me</a>
            </button>
            <!-- Hire me button -->
            <button class="button is-rounded is-success">
              <a [routerLink]="['/contactMe']">Skills</a>
            </button>
            <!-- Projects button -->
            <button class="button is-rounded is-link">
              <a class="ui-button-text" [routerLink]="['/contactMe']"
                >My Projects</a
              >
            </button>
          </div>
        </article>
      </div>
    </div>
  </div>

  <!-- IMAGE TILE -->
  <div class="tile is-parent">
    <article class="tile is-child notification is-success is-8">
      <div class="content">
        <figure class="image">
          <img
            src="assets/Professional_Headshot.jpg"
            alt="My Face"
            width="200"
            height="200"
          />
        </figure>
      </div>
    </article>
  </div>
</div>
